<!doctype html>
<html lang="en">
    <head>
        <%- include('../../partials/head'); %>
    </head>
    <body class="container">
        <header><%- include('../../partials/header'); %></header>

        <main>
            <h1><%= tittle %></h1>
        </main>
        <% for(var key in attraction) {%>
        <p>Item <%= key %>: <%= attraction[key]%></p>
        <% } %>

        <footer><%- include('../../partials/footer'); %></footer>
    </body>
</html>
